
* {
    background-color: black;
    font-family: Futura, serif;
    color: #ffffff;
}

h1 {
    color: #ffffff;
    font-size: 100px;
    text-align: center;
}

h5 {
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
    
}

li {
    float: left;
    
}

a {
    display: block;
    padding-inline: 8px;
    background-color: orange;
}

img {
    height: auto;
    width: 1900px;
}